*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@import 'materialize-css/dist/css/materialize.min.css';
@import 'materialize-css';
@import './variables';

.All {
  margin: 0;
  background-color: #367be2;
  color: whitesmoke;
}
.nav {
  background-color: $nav-color !important;
  padding: 0 2rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  & img {
    height: 3rem;
    width: auto;
  }
}
.main {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.backgroundBox {
  width: 89vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $faded-white ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.welcomeImg {
  width: 50rem;
  height: auto;
}
.pickerField {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &-loginField {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
    height: 50rem;
    background-color: $faded-white;
  }

  &-title {
    font-size: 5rem;
    font-weight: 700;
  }

  &-emoIconField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: whitesmoke;
      justify-content: center;
      font-size: 2rem;
      font-weight: 600;
    }
    & img {
      width: 15rem;
      margin: 1rem;
      height: auto;
    }
  }
}

.detailsForm {
  display: flex;
  flex-direction: column;
  width: 50vw;

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
  }
  &-selector {
    width: 32rem;
  } 
  &-textArea {
    width: 35rem;
    grid-column: 2/5;
    grid-row: 4/6;
  }
  &-buttonArea{
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &-inputField {
    width: 22rem;
  }
}
.loginButtonArea {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signUpFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;

  &-signUpButtonArea {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &-signTextArea {
    width: 35rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-begin;
  }
}

.overviewCalendarField {
  width: 40rem;
  height: 33.2rem;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: $faded-white;

  &-titleArea {
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
    background-color: $nav-color ;
  }
  &-calendar {
    width: 32rem;
    height: 26.5rem;
    margin-top: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow-y: scroll;
    background-color: $faded-white;
  }
  &-emoCard {
    width: 4rem;
    height: 4rem;
    margin: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: $nav-color !important;
}
